name: Run build
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - run: ./gradlew build --no-daemon

      - name: Archive results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: test-report
          path: build/reports
          retention-days: 5
